/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-grid-tile {
    background: pink;
  }
  .app{
      color: darkblue;
      background-image: image-set("ShoppingCart.jpg")
  }